//Height
.full-height {
  height: 100%;
}

.h-40 {
  height: 40px;
}

.h-34 {
  height: 34px;
}

.h-32 {
  height: 32px;
}

.h-60 {
  height: 60px;
}

.h-104 {
  height: 104px;
}

.h-72 {
  height: 72px;
}

.h-80-vh {
  height: 80vh;
}

.h-90-vh {
  height: 90vh;
}

.h-100-vh {
  height: 100vh;
}

.min-height-66px {
  min-height: 66px;
}

.min-height-100px {
  min-height: 100px;
}

.min-height-120px {
  min-height: 120px;
}

.min-height-150px {
  min-height: 150px;
}

.min-height-164px {
  min-height: 164px;
}

.min-height-60vh {
  min-height: 60vh;
}

.min-85vh {
  min-height: 85vh;
}

.min-80vh {
  min-height: 80vh;
}

.max-height-100vh {
  max-height: 100vh;
}

.max-height-90vh {
  max-height: 90vh;
}

.max-height-85vh {
  max-height: 85vh;
}

.max-height-60vh {
  max-height: 60vh;
}

.max-height-350 {
  max-height: 350px;
}

.h-46-px {
  height: 46px;
}

.h-50-px {
  height: 50px;
}

.height-350 {
  height: 350px;
}

.height-sm-350 {
  height: 350px;
  @media (max-width: 575.98px) {
    height: auto;
  }
}

.height-240 {
  height: 240px;
}

.height-200 {
  height: 200px;
}

.height-100 {
  height: 100px;
}

.height-80 {
  height: 80px;
}

.height-85p {
  height: 85%;
}

.height-60vh {
  height: 60vh;
}

.height-sm-60vh {
  height: 60vh;
  @media (max-width: 575.98px) {
    height: 30vh;
  }
}

.cover-img-height {
}

//width
.w-20 {
  width: 20px;
}

.w-40 {
  width: 40px;
}

.w-50p {
  width: 50px;
}
.w-99 {
  width: 99%;
}

.w-100px {
  width: 100px;
}

.w-125 {
  width: 125px;
}

.w-150 {
  width: 150px;
}

.w-160 {
  width: 160px;
}

.w-200 {
  width: 200px;
}

.min-w-200 {
  min-width: 200px;
}

.w-0 {
  width: 0;
}

.w-0-t {
  width: 0;
  transition: all 0.4s ease-out;
}

.w-100p {
  width: 100%;
}

.w-sm-100 {
  @media (max-width: 575.98px) {
    width: 100% !important;
  }
}

.w-lg-100 {
  @media (max-width: 991.98px) {
    width: 100% !important;
  }
}

.w-280 {
  width: 280px;
}

.w-280-t {
  width: 280px;
  transition: all 0.4s ease-out;
}

.w-280-t-sidebar {
  width: 280px;
  transition: all 0.4s ease-out;

  @media (max-width: 320.98px) {
    width: 260px;
  }
}

.max-width-280 {
  max-width: 280px;
}

.max-width-350 {
  max-width: 350px;
}

.max-width-550 {
  max-width: 550px;
}

.max-width-680 {
  max-width: 680px;
}

.max-width-960 {
  max-width: 960px;
}

.max-width-80p {
  max-width: 80%;
  @media (max-width: 767.98px) {
    max-width: 100%;
  }
}

// Navitem
.navbar-item {
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $dark;
  }
}

.navbar-item-active {
  border-bottom: 1px solid $dark;
}

// Sidebar
.sidebar-item {
  &:hover {
    background-color: $dark !important;
    color: $light !important;
  }
}

.sidebar-item-active {
  background-color: $dark !important;
  color: $light !important;
  border-bottom: 1px solid $light;
  border-top: 1px solid $light;
}

// Margin
.mt-72 {
  margin-top: 72px;
}

//z-index
.z-1 {
  z-index: -1;
}
.z-to-1 {
  z-index: -1;
}
.z-to-5 {
  z-index: 5;
}

.z-to-6 {
  z-index: 6;
}

.z-to-150 {
  z-index: 150;
}
.z-to-1000 {
  z-index: 1000;
}

.z-to-1200 {
  z-index: 1200;
}

// Opacity
.opacity-0 {
  opacity: 0;
}

// transitions
.transition-all {
  transition: all 0.4s ease-out;
}

.transition-2s {
  transition: all 0.2s ease-out;
}

.transition-4s {
  transition: all 0.4s ease-out;
}

.transition-6s {
  transition: all 0.6s ease-out;
}

// Top
.top-72 {
  top: 72px;
}

// Letter spacing
.ls-6 {
  letter-spacing: 0.6px;
}

.ls-1 {
  letter-spacing: 1px;
}

// Text center
.text-center-sm {
  @media (max-width: 576px) {
    text-align: center;
  }
}

.text-center-md {
  @media (max-width: 768px) {
    text-align: center;
  }
}

// Cover image
.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.cover-img-bottom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.cover-img-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.cover-img-center {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

// Background
.bg-dark-trans-4 {
  background-color: rgba(0, 0, 0, 0.45);
}

.bg-dark-trans-3 {
  background-color: rgba(0, 0, 0, 0.35);
}

.hero-bg {
  background: linear-gradient(
    180deg,
    rgba(173, 181, 189, 1) 0%,
    transparent 100%
  );
}

// Blog card
.blog-cards > * {
  padding: 3px;
  margin-bottom: 2px;
  flex: 1 1 330px;
  transition: all 0.2s ease-out;
}

// Outline
.outline-none {
  outline: none;
  &:focus {
    outline: none;
  }
}
// Removes shadow
.no-shadow-btn {
  &:focus {
    box-shadow: none !important;
  }
}

.logo-font-styles {
  font-family: "Varela Round", sans-serif;
}

// Position
.translate-y-to-50 {
  transform: translateY(50%);
}

.translate-y-50 {
  transform: translateY(-50%);
}

// Square
.square-10 {
  height: 10px;
  width: 10px;
  min-width: 10px;
}
.square-15 {
  height: 15px;
  width: 15px;
  min-width: 15px;
}
.square-20 {
  height: 20px;
  width: 20px;
  min-width: 20px;
}
.square-25 {
  height: 25px;
  width: 25px;
  min-width: 25px;
}

.square-25-menu {
  height: 25px;
  width: 25px;
  min-width: 25px;

  @media (max-width: 575.98px) {
    height: 20px;
    width: 20px;
    min-width: 20px;
  }

  @media (max-width: 320.98px) {
    height: 15px;
    width: 15px;
    min-width: 15px;
  }
}

.square-30 {
  height: 30px;
  width: 30px;
  min-width: 30px;
}

.square-35 {
  height: 35px;
  width: 35px;
  min-width: 35px;
}

.square-40 {
  height: 40px;
  width: 40px;
  min-width: 40px;
}

.square-45 {
  height: 45px;
  width: 45px;
  min-width: 45px;
}

.square-50 {
  height: 50px;
  width: 50px;
  min-width: 50px;
}

.square-54 {
  height: 54px;
  width: 54px;
  min-width: 54px;
}

.square-64 {
  height: 64px;
  width: 64px;
  min-width: 64px;
}

.square-96 {
  height: 96px;
  width: 96px;
  min-width: 96px;
}

.cursor-pointer {
  cursor: pointer;
}

// Hiding
.hide-element {
  display: none;
  opacity: 0;
  transition: all 0.2s ease-out;
}

// Hover
.hero-city-list {
  &:hover {
    color: #fff;
    background-color: #2e2f30;
  }
}

// Border radius
.rounded-5 {
  border-radius: 5px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-10 {
  border-radius: 10px;
}

// Fontsize
.fs-16-14 {
  font-size: 16px;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

// Buttons
.btn-min-width {
  @media (max-width: 575.98px) {
    min-width: 130px;
  }
}
