@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "./functions";
@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "./utility";
@import "./rc-slider";

.bg-primary-transparent-35 {
  background-color: rgba($dark, 0.35);
}

.bg-dark-transparent-35 {
  background-color: rgba($dark, 0.35);
}

.navbar-logo {
  font-size: 26px;
  @media (max-width: 575.98px) {
    font-size: 20px;
  }

  @media (max-width: 330.98px) {
    font-size: 16px;
  }
}

.navbar-logo-img {
  width: 200px;
  height: auto;

  @media (max-width: 330.98px) {
    & img {
      max-width: 200px;
    }
  }

  @media (max-width: 280.98px) {
    & img {
      max-width: 150px;
    }
  }
}

.navbar-placeholder {
  height: 70px;
  width: 100%;
  //background-color: $primary;
  @media (max-width: 991.98px) {
    height: 50px;
  }
}

.main-nav-links {
  &.active {
    & a {
      border-bottom: 2px solid #ffae19;

      @media (max-width: 991.98px) {
        border-bottom: 2px solid #ffae19;
      }
    }
  }

  & a {
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: 991.98px) {
      font-size: 20px;
      text-align: center;
    }

    &:hover {
      border-bottom-color: #ffae19;

      @media (max-width: 991.98px) {
        border-bottom-color: #ffae19;
      }
    }
  }
}

.nav-section-width {
  width: 85%;
  @media (max-width: 1199.98px) {
    width: 100%;
  }
}

.nav-dropdown-toggle.dropdown-toggle::after {
  vertical-align: 1.4em;
}

.drawer {
  @media (max-width: 991.98px) {
    max-width: 280px;
  }
}

.hero-heading-size {
  & h5 {
    font-size: 28px;
    @media (max-width: 767.98px) {
      font-size: 22px;
    }
    @media (max-width: 575.98px) {
      font-size: 18px;
    }
  }

  & p {
    font-size: 20px;
    @media (max-width: 767.98px) {
      font-size: 16px;
    }
    @media (max-width: 575.98px) {
      font-size: 12px;
    }
  }
}

.list_container {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  &_box {
    width: 280px;
    min-width: 280px;
    height: 200px;
  }
}
.listing-next,
.listing-previous {
  width: 35px;
  height: 35px;
  transition: all 0.2s ease-out;

  @media (max-width: 575.98px) {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: darken(#fff, 10%) !important;
  }
}
.listing-next {
  right: 0;
  transform: translate(50%, -50%);

  @media (max-width: 575.98px) {
    right: 8px;
  }
}

.listing-previous {
  left: 0;
  transform: translate(-50%, -50%);

  @media (max-width: 575.98px) {
    left: 8px;
  }
}

.topnav-link {
  border-bottom: 2px solid transparent;
}

.topnav-link:hover,
.topnav-link.active {
  border-bottom: 2px solid #000;
}

.sidebar-link.active,
.sidebar-link:hover {
  background-color: #ffae19 !important;
}

// Switch
.custom-switch {
  transform: translateY(-70%);

  & input[type="checkbox"] {
    height: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
  }

  & label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 28px;
    background: $gray-69;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  & label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 90px;
    transition: 0.2s;
  }

  & label:active:after {
    width: 34px;
  }
}

.custom-switch input:checked + label {
  background: $primary;
}

.custom-switch input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

// Loaders
.loader,
.loader:before,
.loader:after {
  background: #ffae19;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffae19;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

// Collapse only on mobile
@media (min-width: 576px) {
  .collapse.disable-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.footer-links {
  & a {
    color: #fff;
    text-decoration: none;
  }
}

.dark-links {
  & a {
    color: #000;
    text-decoration: none;
  }
}

.light-links {
  & a {
    color: #fff;
    text-decoration: none;
  }
}

.typewriter-container {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
  }
}

.featured-card {
  &__img {
    width: 50%;
    max-width: 400px;

    @media (max-width: 575.98px) {
      width: 100%;
      max-width: 100%;
      height: 300px !important;
    }
  }
  &__text {
    width: 100%;
    flex: 1;
  }
}

.img-slider-thumbnail,
.img-slider-thumbnail-container {
  height: 64px !important;
  @media (max-width: 575.98px) {
    height: 48px !important;
  }
}

.img-slider-thumbnail {
  width: 16% !important;
}

.slider-icon {
  background-color: $primary;
  opacity: 1 !important;
  padding: 5px !important;
  border-radius: 50%;
  & svg {
    width: 1.6rem !important;
    height: 1.6rem !important;
    color: white;
    opacity: 1;
    transform: scale(0.8);
  }
}

.heading-with-line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 4px;
    background-color: $primary;
  }
}

.thumbnail-img {
  & img {
    max-width: 100% !important;
    height: auto !important;
  }
}
